/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "share_tech";
  src: url("../fonts/ShareTech/sharetech-regular-webfont.woff2") format("woff2"), url("../fonts/ShareTech/sharetech-regular-webfont.woff") format("woff");
  font-weight: "normal";
  font-style: 400;
}
@font-face {
  font-family: "tulpen";
  src: url("../fonts/TupenOne/tulpenone-regular-webfont.woff2") format("woff2"), url("../fonts/TupenOne/tulpenone-regular-webfont.woff") format("woff");
  font-weight: "normal";
  font-style: 400;
}
@font-face {
  font-family: "open sans";
  src: url("../fonts/Open-Sans/opensans_light_macroman.woff2") format("woff2"), url("../fonts/Open-Sans/opensans_light_macroman.woff") format("woff");
  font-weight: "normal";
  font-style: 100;
}
@font-face {
  font-family: "open sans";
  src: url("../fonts/Open-Sans/opensans_regular_macroman.woff2") format("woff2"), url("../fonts/Open-Sans/opensans_regular_macroman.woff") format("woff");
  font-weight: "normal";
  font-style: 400;
}
@font-face {
  font-family: "open sans";
  src: url("../fonts/Open-Sans/opensans_semibold_macroman.woff2") format("woff2"), url("../fonts/Open-Sans/opensans_semibold_macroman.woff") format("woff");
  font-weight: "normal";
  font-style: 600;
}
@font-face {
  font-family: "open sans";
  src: url("../fonts/Open-Sans/opensans_lightitalic_macroman.woff2") format("woff2"), url("../fonts/Open-Sans/opensans_lightitalic_macroman.woff") format("woff");
  font-weight: "italic";
  font-style: 100;
}
@font-face {
  font-family: "open sans";
  src: url("../fonts/Open-Sans/opensans_italic_macroman.woff2") format("woff2"), url("../fonts/Open-Sans/opensans_italic_macroman.woff") format("woff");
  font-weight: "italic";
  font-style: 400;
}
@font-face {
  font-family: "open sans";
  src: url("../fonts/Open-Sans/opensans_semibolditalic_macroman.woff2") format("woff2"), url("../fonts/Open-Sans/opensans_semibolditalic_macroman.woff") format("woff");
  font-weight: "italic";
  font-style: 600;
}
h1, h2 {
  font-size: 50px;
  font-family: "tulpen", arial, sans-serif;
}

strong {
  font-weight: bold;
  font-size: 22px;
  color: #000;
}

p {
  margin: 20px 0;
  line-height: 22px;
  letter-spacing: 0.26px;
  font-size: 16px;
}

p:first-child {
  margin-top: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* @font-face {
       font-family: 'lane-narrow';
       src: url('../fonts/lanenar_-webfont.svg#lane_-_narrowregular') format('svg');
   }
   p {
     font-weight: 800;
   }*/
}
/*******************************

  Basic 4 Column grid

*******************************/
/*******************************

  More Column grid

*******************************/
/*******************************

  Flexbox grid

*******************************/
.body-flex {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.body-flex > * {
  width: 100%;
}
.body-flex .site-content {
  flex: 1;
}

.grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.grid-cell {
  flex: 1;
}

.grid-cell--3 {
  width: 30%;
}

/* With gutters */
.grid--gutters {
  margin: -1em 0 0 -1em;
}

.grid--gutters > .grid-cell {
  padding: 1em 0 0 1em;
}

/* Alignment per row */
.grid--top {
  align-items: flex-start;
}

.grid--bottom {
  align-items: flex-end;
}

.grid--center {
  align-items: center;
}

/* Alignment per cell */
.grid-cell--top {
  align-self: flex-start;
}

.grid-cell--bottom {
  align-self: flex-end;
}

.grid-cell--center {
  align-self: center;
}

.large-grid--fit > .grid-cell {
  flex: 1;
}

.large-grid--full > .grid-cell {
  flex: 0 0 100%;
}

.large-grid--1of2 > .grid-cell {
  flex: 0 0 50%;
}

.large-grid--1of3 > .grid-cell {
  flex: 0 0 33.3333%;
}

.large-grid--1of4 > .grid-cell {
  flex: 0 0 25%;
}

.small-grid--fit > .grid-cell {
  flex: 1;
}

.small-grid--full > .grid-cell {
  flex: 0 0 100%;
}

.small-grid--1of2 > .grid-cell {
  flex: 0 0 50%;
}

.small-grid--1of3 > .grid-cell {
  flex: 0 0 33.3333%;
}

.small-grid--1of4 > .grid-cell {
  flex: 0 0 25%;
}

.grid--fit > .grid-cell {
  flex: 1;
}

.grid--full > .grid-cell {
  flex: 0 0 100%;
}

.grid--1of2 > .grid-cell {
  flex: 0 0 50%;
}

.grid--1of3 > .grid-cell {
  flex: 0 0 33.3333%;
}

.grid--1of4 > .grid-cell {
  flex: 0 0 25%;
}

/*******************************

  General Styles

*******************************/
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font: 100 normal 16px "open sans", arial, sans-serif;
  color: #383838;
}
body * {
  transition: 500ms;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.wrapper {
  width: 97.23%;
  max-width: 980px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

a, button {
  outline-color: transparent;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: rgba(185, 163, 137, 0.6);
}
a.cta {
  width: 33.3%;
  max-width: 300px;
  border: 1px solid #383838;
  background: transparent;
  padding: 10px;
  text-align: center;
  margin: 40px auto;
  display: block;
}
a.cta:hover {
  background: rgba(185, 163, 137, 0.6);
  color: initial;
}
a.cta.dark {
  background: rgba(185, 163, 137, 0.6);
}
a.cta.dark:hover {
  background: transparent;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  margin: 0 0 0 20px;
}
button:first-child {
  margin: 0;
}

.play-vid {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.play-btn {
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 150px;
  background: rgba(185, 163, 137, 0.6);
  border: 8px #b9a389 solid;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.play-btn:hover {
  opacity: 0.8;
}
.play-btn svg {
  height: 70%;
  position: absolute;
  left: 65%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.play-btn svg polygon {
  fill: #b9a389;
}

img {
  width: 100%;
  height: auto;
}

section {
  padding: 40px 0;
}
section .wrapper {
  flex-direction: column;
}
section h2 {
  font-size: 40px;
}
section h2.section-title {
  position: relative;
  width: 25%;
  display: inline-block;
  max-width: 245px;
}
section h2.section-title:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #383838;
  position: absolute;
  bottom: 0;
  left: 0;
}
section .section-desc {
  flex: 2;
  padding: 0 0 0 150px;
}

.ri {
  width: 50%;
  height: 280px;
  overflow: hidden;
  position: relative;
}
.ri > img {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.resp-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn {
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 5px 0;
}

.legal {
  color: #fff;
  font-size: 10px;
  letter-spacing: 1px;
  text-align: right;
  margin: 20px 0 0;
}

.hide-copy {
  text-indent: -9999999px;
  display: block;
  height: 0;
}

.dont-break-out {
  /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.responsive-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 720px;
  width: 100%;
}

.responsive-embed iframe, .responsive-embed object, .responsive-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*******************************

  Header Styles

*******************************/
.site-header {
  padding: 20px 0;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  transition: 600ms;
  height: 80px;
}
.site-header .wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  height: 70px;
  align-items: center;
}
.site-header .logo {
  height: 100%;
}
.site-header .logo svg {
  height: 100%;
}
.site-header .logo:hover svg polygon,
.site-header .logo:hover svg rect,
.site-header .logo:hover svg path {
  fill: #383838;
}
.site-header .site-nav {
  opacity: 0.9;
}
.site-header .site-nav ul {
  display: flex;
  justify-content: space-between;
}
.site-header .site-nav li {
  margin: 0 0 0 10px;
  transform: skew(-20deg);
}
.site-header .site-nav li a {
  font-size: 18px;
  color: #fff;
  letter-spacing: 0.6px;
  transform: skew(20deg);
  display: inline-block;
  padding: 5px 10px;
}
.site-header .site-nav li:hover, .site-header .site-nav li:active {
  background: rgba(185, 163, 137, 0.6);
}
.site-header.small {
  height: 80px;
  background-repeat: repeat-x;
  background: -moz-linear-gradient(top, #b9a389 0%, rgba(185, 163, 137, 0) 100%);
  background: -webkit-linear-gradient(top, #b9a389 0%, rgba(185, 163, 137, 0) 100%);
  background: linear-gradient(to bottom, #b9a389 0%, rgba(185, 163, 137, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#b9a389", endColorstr="#00b9a389",GradientType=0 );
  margin: 0;
  padding: 5px 0;
  color: #383838;
}
.site-header.small .site-nav {
  line-height: 60px;
  margin-top: -30px;
}
.site-header.small svg {
  max-height: 48px;
}

/*******************************

  Hero Styles

*******************************/
.hero {
  height: 440px;
  background-image: url(./../img/hero-img_home.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero svg {
  width: 80%;
  max-width: 450px;
  opacity: 0.7;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}

/*******************************

  Latest Styles

*******************************/
.latest .video-mod {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}
.latest .video-mod h3.video-title {
  width: 100%;
  text-align: center;
}
.latest .video-mod button.play-button {
  border: 10px solid #b9a389;
  background: rgba(185, 163, 137, 0.6);
  width: 50%;
  max-width: 200px;
  height: 200px;
  border-radius: 50%;
}

/*******************************

  About Styles

*******************************/
.about {
  background-repeat: repeat-x;
  background: -moz-linear-gradient(top, #b9a389 0%, rgba(185, 163, 137, 0) 100%);
  background: -webkit-linear-gradient(top, #b9a389 0%, rgba(185, 163, 137, 0) 100%);
  background: linear-gradient(to bottom, #b9a389 0%, rgba(185, 163, 137, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#b9a389", endColorstr="#00b9a389",GradientType=0 );
}
.about .icon-bar {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 60px 0 0;
}
.about .icon-bar > * {
  max-width: 300px;
  padding: 20px 20px 10px;
  position: relative;
  width: 30%;
  margin: 0 0 0 3%;
}
.about .icon-bar > *:first-child {
  margin: 0;
}
.about .icon-bar > *:after {
  content: "";
  width: 20%;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  background: -moz-linear-gradient(left, rgba(56, 56, 56, 0) 0%, #383838 99%, #383838 100%);
  background: -webkit-linear-gradient(left, rgba(56, 56, 56, 0) 0%, #383838 99%, #383838 100%);
  background: linear-gradient(to right, rgba(56, 56, 56, 0) 0%, #383838 99%, #383838 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00383838", endColorstr="#383838",GradientType=1 );
}
.about .icon-bar > *:before {
  content: "";
  width: 20%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(left, #383838 0%, rgba(56, 56, 56, 0) 100%);
  background: -webkit-linear-gradient(left, #383838 0%, rgba(56, 56, 56, 0) 100%);
  background: linear-gradient(to right, #383838 0%, rgba(56, 56, 56, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#383838", endColorstr="#00383838",GradientType=1 );
}
.about .icon-bar > * .title {
  text-align: center;
  margin: 30px 0 0;
  font-weight: 700;
}
.about .icon-bar > * .desc {
  font-size: 14px;
  line-height: 18px;
}
.about .icon-bar .cell-icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.about .icon-bar .cell-icon svg {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}
.about .icon-bar .thorough svg {
  width: 220%;
  top: 100%;
  left: -40%;
}

.photography .section-content {
  align-items: center;
}
.photography blockquote .copy {
  font-size: 50px;
  font-style: italic;
  display: inline-block;
}
.photography blockquote cite {
  font-style: italic;
}
.photography blockquote cite:before {
  content: "~";
  position: relative;
  left: -2px;
  color: #383838;
}

/*******************************

  Footer Styles

*******************************/
.site-footer {
  background: #383838;
  padding: 20px 0;
  color: #fff;
  margin: 100px 0 0;
}
.site-footer .wrapper {
  flex-direction: column;
}
.site-footer .wrapper > * {
  width: 100%;
  opacity: 0.9;
}
.site-footer .icon {
  font: 30px fontawesome, sans-serif;
  margin: 10px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: #786e77;
  fill: #786e77;
  display: inline-block;
}
.site-footer .icon:first-child {
  margin-left: 0;
}
.site-footer .social-item {
  width: 100%;
  max-width: 50px;
  height: 40px;
  display: inline-block;
}
.site-footer .social-item a {
  display: block;
  position: relative;
}
.site-footer .social-item svg.icon {
  height: 30px;
  width: auto;
  fill: #b9a389;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.site-footer .logo {
  flex: 0.2;
}

.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  z-index: 10;
}

.loader {
  position: absolute;
  top: 250px;
  left: 50%;
  margin-left: -100px;
  opacity: 1;
  max-height: 900px;
  transition: 400ms;
  z-index: 20;
}

.loader-wrapper.collapsed,
.old-browser-prompt.collapsed {
  opacity: 0;
  max-height: 0;
  z-index: 0;
  overflow: hidden;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1), (max-width: 768px) {
  .hero {
    height: 300px;
  }
  .hero svg {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  a.cta {
    width: 80%;
    max-width: none;
  }

  section h2.section-title {
    position: relative;
    width: 80%;
  }
  section .section-desc {
    padding: 0;
  }

  .hero {
    height: 160px;
  }

  .grid {
    flex-direction: column;
  }

  .about .icon-bar > * {
    max-width: none;
    width: 100%;
    margin: 80px 0 0;
  }

  .photography blockquote {
    margin: 20px;
  }
  .photography blockquote .copy {
    font-size: 30px;
  }

  .site-footer .footer-top .links {
    width: 80%;
    text-align: center;
    margin: 0 auto 20px;
    border: rgba(255, 255, 255, 0.8) 1px solid;
    padding: 0 0 20px;
    border-style: none none solid;
  }
  .site-footer .logo {
    width: 100%;
  }
  .site-footer .logo svg {
    max-height: 100px;
  }

  .legal {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
