
@font-face {
    font-family: 'share_techregular';
    src: url('./../fonts/ShareTech/sharetech-regular-webfont.woff2') format('woff2'),
         url('./../fonts/ShareTech/sharetech-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tulpen';
    src: url('./../fonts/TupenOne/tulpenone-regular-webfont.woff2') format('woff2'),
         url('./../fonts/TupenOne/tulpenone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansbold';
    src: url('./../fonts/OpenSans/opensans-bold-webfont.woff2') format('woff2'),
         url('./../fonts/OpenSans/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1, h2 {
    font-size: 50px;
    font-family: 'tulpen', arial, sans-serif;
}

h2 {
    font-size: 40px;
}




@font-face {
    font-family: 'open_sansbold_italic';
    src: url('./../fonts/OpenSans/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('./../fonts/OpenSans/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansextrabold';
    src: url('./../fonts/OpenSans/opensans-extrabold-webfont.woff2') format('woff2'),
         url('./../fonts/OpenSans/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('./../fonts/OpenSans/opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('./../fonts/OpenSans/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansitalic';
    src: url('./../fonts/OpenSans/opensans-italic-webfont.woff2') format('woff2'),
         url('./../fonts/OpenSans/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('./../fonts/OpenSans/opensans-light-webfont.woff2') format('woff2'),
         url('./../fonts/OpenSans/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight_italic';
    src: url('./../fonts/OpenSans/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('./../fonts/OpenSans/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('./../fonts/OpenSans/opensans-regular-webfont.woff2') format('woff2'),
         url('./../fonts/OpenSans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold';
    src: url('./../fonts/OpenSans/opensans-semibold-webfont.woff2') format('woff2'),
         url('./../fonts/OpenSans/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('./../fonts/OpenSans/opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('./../fonts/OpenSans/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}