@import 'variables';
@import 'mixins';
@import 'reset';
@import 'typography';
@import 'grid';


/*******************************

  General Styles

*******************************/

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  
}

body {
  font: 100 normal 16px 'open sans', arial, sans-serif;
  color: $font-color;
  transition: 500ms;
  
  &.in-transition {
    transition: transform 900ms ease;
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.wrapper {
  width: 97.23%;
  max-width: $wrapper-width;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

a,button {
  outline-color: transparent;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;

  &.cta {
    width: 33.3%;
    max-width: 300px;
    border: 1px solid #383838;
    background: transparent;
    padding: 10px;
    text-align: center;
    margin: 40px auto;
    display: block;
  }
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  margin: 0 0 0 20px;

  &:first-child {
    margin:0;
  }
}

img {
  width: 100%;
  height: auto;
}

section {
  padding: 40px 0;

  .wrapper {
    overflow: visible;
  }

  h2 {
    font-size: 40px;
  
    &.section-title {
      position: relative;
      width: 25%;
      display: inline-block;
      max-width: 245px;
      
      &:after {
        content: "";
        width: 100%;
        height: 1px;
        background: $font-color;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  .section-desc {
    flex: 2;
    padding: 0 0 0 150px;
  }
}



.ri {
  width: 50%;
  height: 280px;
  overflow: hidden;
  position: relative;

  > img {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.resp-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn {
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 5px 0;
}

.legal{
  color: #fff;
  font-size: 10px;
  letter-spacing: 1px;
  width: 100%;
  max-width: 200px;
}

.hide-copy {
  text-indent: -9999999px;
  display: block;
  height: 0;
}

.dont-break-out {
  /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

.responsive-embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 720px;
    width: 100%;
}

.responsive-embed iframe,.responsive-embed object,.responsive-embed embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}


/*******************************

  Header Styles

*******************************/
.site-header {
  padding: 20px 0 0;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  transition: 600ms;
  height: 80px;

  .wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .logo {
    height: 100%;

    svg {
      height: 100%;
    }
  }
}


/*******************************

  Nav Styles

*******************************/

.site-nav ul {
  display: flex;
  justify-content: space-between;
}
  .site-nav li {
  // float: left;
  // margin: 0 0 0 20px;
  // position: relative;
  // padding: 5px 0;
}

.site-nav li:first-child {
  // margin: 0;
}

.site-nav li a {
  font-size: 18px;
  color: #fff;
  // display: inline-block;
  letter-spacing: 0.6px;
}

.site-header.small {
  height: 90px;
  background: rgba(255,255,255, 0.8);
  padding: 0;
  margin: 0;
  border: 1px rgba(137, 124, 141, 0.5);
  border-style: none none solid;

}

.site-header.mobile-active .site-nav ul {
  position: relative;
  top: 50%;
  float: none;
}



/*******************************

  Hero Styles

*******************************/
.hero {
  height: 440px;
  background-image: url(./../img/hero-img_home.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  svg {
    width: 80%;
    max-width: 450px;
    opacity: 0.7;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
  }
}

/*******************************

  Latest Styles

*******************************/
.latest {
  
  .video-mod {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;

    h3.video-title {
      width: 100%;
      text-align: center;
    }
    button.play-button {
      border: 10px solid $tan;
      background: $tan-alpha;
      width: 50%;
      max-width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }
}


/*******************************

  About Styles

*******************************/
.about {
  background-repeat: repeat-x;
  background: -moz-linear-gradient(top, rgba(185,163,137,1) 0%, rgba(185,163,137,0) 100%);
  background: -webkit-linear-gradient(top, rgba(185,163,137,1) 0%,rgba(185,163,137,0) 100%);
  background: linear-gradient(to bottom, rgba(185,163,137,1) 0%,rgba(185,163,137,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9a389', endColorstr='#00b9a389',GradientType=0 );


  .icon-bar {
    display: flex;
    // justify-content: space-evenly;
    height: 100%;
    width: 100%;
    > * {
      border: 1px solid $font-color;
      max-width: 300px;
      padding: 20px 20px 10px;

      .title {
        text-align: center;
      }
    }
  }
}

/*******************************

  Footer Styles

*******************************/
.site-footer {
  background: $font-color;
  padding: 20px 0;
  color: #fff;
  margin: 100px 0 0;

  .block.logo {
    // float: right;
  }
}




.loader-wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  z-index: 10;
}

.loader {
  position: absolute;
  top: 250px;
  left: 50%;
  margin-left: -100px;
  opacity: 1;
  max-height: 900px;
  transition: 400ms;
  z-index: 20;
}

.loader-wrapper.collapsed,
.old-browser-prompt.collapsed {
  opacity: 0;
  max-height: 0;
  z-index: 0;
  overflow: hidden;
}



@media screen and (max-width: 1024px) {

}

@media only screen and (min-device-width: 768px) and (max-device-width:1024px) and (-webkit-min-device-pixel-ratio:1),(max-width:768px) {
  .hero {
    // height: 300px;

    svg {
      display: none;
    }
  }
}

@media screen and (max-width: 650px) {
  .hero {
    // height: 160px;
  }

  .block-1-wide,
  .block-2-wide,
  .block-3-wide,
  .block-4-wide {
    // width: 100%;
    // max-width: none;
    // text-align: center;
  }

}
@media screen and (max-width: 500px) {

}









