
@include font-face('share_tech', '../fonts/ShareTech/sharetech-regular-webfont', 400, 'normal');

@include font-face('tulpen', '../fonts/TupenOne/tulpenone-regular-webfont', 400, 'normal');

@include font-face('open sans', '../fonts/Open-Sans/opensans_light_macroman', 100, 'normal');
@include font-face('open sans', '../fonts/Open-Sans/opensans_regular_macroman', 400, 'normal');
@include font-face('open sans', '../fonts/Open-Sans/opensans_semibold_macroman', 600, 'normal');

@include font-face('open sans', '../fonts/Open-Sans/opensans_lightitalic_macroman', 100, 'italic');
@include font-face('open sans', '../fonts/Open-Sans/opensans_italic_macroman', 400, 'italic');
@include font-face('open sans', '../fonts/Open-Sans/opensans_semibolditalic_macroman', 600, 'italic');


h1, h2, h3, h4, h5, h6 {
}

h1, h2 {
  font-size: 50px;
  font-family: 'tulpen', arial, sans-serif;
}

h2 {
  font-size: 40px;

  &.section-title {
    position: relative;
    width: 25%;
    display: inline-block;
    
    &:after {
      content: "";
      width: 100%;
      height: 1px;
      background: $font-color;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

strong {
  font-weight: bold;
  font-size: 22px;
  color: #000;
}

.acsent-copy {
  font: 16px alex_brush,arial,sans-serif;
  &.large {
    font-size: 40px;
  }
}

.right-copy {
  float: right;
  margin: 20px 50px;
}

p {
  margin: 20px 0;
  line-height: 28px;
  letter-spacing: 0.26px;
  font-size: $font-size;
}

p:first-child {
  margin-top: 0;
}

.big-copy {
  p {
    font-size: 20px;
    line-height: 20px;
    margin-top: 20px;

    &:first-child {
      margin-top: 20px;
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* @font-face {
       font-family: 'lane-narrow';
       src: url('../fonts/lanenar_-webfont.svg#lane_-_narrowregular') format('svg');
   }
   p {
     font-weight: 800;
   }*/
 }